---
interface Props {
  submitLabel?: string;
}

const { submitLabel = 'Submit Event' } = Astro.props;
const shopUrl = 'https://01cwws-w7.myshopify.com/products/corduroy-hat?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web';
---

<nav class="main-nav">
  <a href="/" class="nav-logo">
    <img src="/images/orange-logo.png" alt="Litchfield Ledger" width="410" height="176" />
  </a>
  <ul class="nav-links">
    <li><a href="/map" class="nav-map" data-track-click="map_click" data-track-location="nav">MAP</a></li>
    <li><a href={shopUrl} class="nav-support" data-track-click="shop_click" data-track-location="nav">SHOP</a></li>
    <li><a href="https://litchfieldledger.beehiiv.com/add-your-event" class="nav-submit" data-track-click="submit_event_click" data-track-location="nav">{submitLabel}</a></li>
  </ul>
</nav>
